.linkedin-feed {
  background-color: #f3f2ef;
  overflow: hidden;
}
.css-zow5z4-MuiGrid-root > .MuiGrid-item {padding-left: 0px !important;}
.left-sidebar h6 {
  font-size: 14px;
  margin-left: 18px;
  color: #646464;
  margin-bottom: 0px;
  padding-top: 15px;
  margin-top: 0px;
}
.newsfeed-section {
  margin-left: 35px;
  margin-right: 35px;
}
.post-section {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #dedede;
  padding-bottom: 0;
  position: relative;
}
.post-border-bottom {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #c4c4c4;
  top: 112%;
  left: 0;
}
.post {display: flex;}
.post img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.post input {
  width: 100%;
  border-radius: 25px;
  border: 1px solid #c4c4c4;
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}
.post-item-container {display: flex;}
.post-item {
  display: flex;
  margin-left: 10px;
  margin-right: 33px;
}
.post-item h6 {
  font-size: 14px;
  margin-top: 20px;
  color: #6c6c6c;
}
.post-item-icon {
  font-size: 22px;
  margin-top: 20px;
  margin-right: 10px;
}
.users-post-section {margin-top: 33px;}
.right-sidebar-card {
  background-color: #fff;
  padding: 13px 30px;
}
.right-sidebar-card p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #5e5e5e;
  font-weight: 500;
  text-align: center;
}
.right-sidebar-card img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.right-sidebar-card h6 {
  text-align: center;
  font-size: 12px;
  color: #6a6a6a;
  margin: 0;
  padding: 0;
  margin-top: 7px;
}
.footer span {
  font-size: 12px;
  color: #585858;
  margin-left: 7px;
  margin-right: 8px;
}
.footer p {
  font-size: 12px;
  font-weight: 600;
  color: #3e3e3e;
  text-align: center;
  margin-top: 15px;
}
.footer p img {
  width: 48px;
  height: 15px;
  position: relative;
  top: 5px;
}
.footer-span {
  text-align: center;
  margin-top: 10px;
}
.premium-linkedin{
    text-decoration: none;
    font-size: 12px;
    color: #9D714D;
    margin-top: 14px;
}
.profile-img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  top: 14px;
  left: 55px;
}
div.css-1bzcqru {margin-left: 6px;}
div.MuiBox-root.css-auk05l {height: 65px;}
button.MuiButtonBase-root.MuiTab-root.MuiTab-labelIcon.MuiTab-textColorPrimary.Mui-selected.css-io19y-MuiButtonBase-root-MuiTab-root {color: #000;}
div.MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer button.MuiButtonBase-root.MuiTab-root.MuiTab-labelIcon.MuiTab-textColorPrimary.Mui-selected.css-1hitna3-MuiButtonBase-root-MuiTab-root {
  color: #000;
}
span.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {background-color: #000;}
.icon-style {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.6);;
}
div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3.makeStyles-mainContainer-1.css-zow5z4-MuiGrid-root {margin: 0 auto;}
div.MuiListItemText-root.css-tlelie-MuiListItemText-root span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root {
  font-size: 0.8rem !important;
}
div.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root div.MuiListItemIcon-root.css-cveggr-MuiListItemIcon-root {
  min-width: 0;
  margin-right: 15px;
}
div.left-sidebar div.MuiBox-root.css-188yqp7 {
  margin-top: -25px;
  border-radius: 5px;
}
div.left-sidebar div.MuiBox-root.css-144ebsl {
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}
div.MuiChip-root.MuiChip-filled.MuiChip-sizeMedium.MuiChip-colorDefault.MuiChip-filledDefault.css-1o35jmn-MuiChip-root span.MuiChip-label.MuiChip-labelMedium.css-6od3lo-MuiChip-label {
  color: #555;
  font-size: 14px;
}
div.MuiCardActions-root.css-1rwjz6-MuiCardActions-root button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  margin-right: 12px;
  margin-left: 13px;
}
div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-17lvz0h-MuiPaper-root-MuiCard-root div.MuiCardActions-root.css-1rwjz6-MuiCardActions-root {
  width: 90%;
  margin-top: 0px;
  margin-top: 27px;
}
div.MuiCardHeader-content.css-1qbkelo-MuiCardHeader-content span.MuiTypography-root.MuiTypography-body2.MuiCardHeader-subheader.css-83ijpv-MuiTypography-root {
  font-size: 12px;
}
.css-12qu4fk-MuiButtonBase-root-MuiTab-root.Mui-selected{color:#000 !important}
.css-12qu4fk-MuiButtonBase-root-MuiTab-root{padding:12px 10px !important;}
